<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dclw.ncforecast.mapper.ReadGribToSqlMapper">


    <select id="inserGribDataToSql" resultType="Integer">
       INSERT INTO [dbo].[Netcdf_EDA10]
           ([GenTime]
           ,[StartForecastTime]
           ,[ForecastTime]
           ,[UWind]
           ,[VWind])
         VALUES
               ('2019-12-12 06:00'
               ,'2019-12-12 08:00'
               ,'2019-12-12 09:00'
               ,10.2
               ,13.0)
    </select>
</mapper>
